<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Market Intelligence Hub</title>

    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/opportunity_explorer.css">
    <link rel="stylesheet" href="/static/css/live_scanner_hardening.css">
    <link rel="stylesheet" href="/static/css/professional_results_grid.css">
    <link rel="stylesheet" href="/static/css/watchlist_manager.css">
    <link rel="stylesheet" href="/static/css/live_auto_refresh.css">
    <link rel="stylesheet" href="/static/css/live_scanner.css">
    <link rel="stylesheet" href="/static/css/chart_intelligence.css">
    <link rel="stylesheet" href="/static/css/technical_intelligence.css">
    <link rel="stylesheet" href="/static/css/trade_planning.css">
    <link rel="stylesheet" href="/static/css/confidence_engine.css">
    <link rel="stylesheet" href="/static/css/decision_engine.css">
    <link rel="stylesheet" href="/static/css/decision_panel_compact.css">
    <link rel="stylesheet" href="/static/css/opportunity_ranking.css">
    <link rel="stylesheet" href="/static/css/professional_workspace.css">
    <link rel="stylesheet" href="/static/css/workspace_intelligence.css">
    <link rel="stylesheet" href="/static/css/professional_ui_polish.css">
    <link rel="stylesheet" href="/static/css/trading_desk_ux.css">
    <link rel="stylesheet" href="/static/css/terminal_layout.css">
    <link rel="stylesheet" href="/static/css/opportunity_intelligence.css">
    <link rel="stylesheet" href="/static/css/confluence_engine.css">
    <link rel="stylesheet" href="/static/css/strategy_matrix.css">
    <link rel="stylesheet" href="/static/css/portfolio_intelligence.css">
    <link rel="stylesheet" href="/static/css/lifecycle_engine.css">
    <link rel="stylesheet" href="/static/css/paper_trading.css">
    <link rel="stylesheet" href="/static/css/workstation.css">
    <link rel="stylesheet" href="/static/css/trading_terminal.css">
</head>

<body>
    <div class="workspace-shell">
        {% include "components/navbar.html" %}
        <div class="workspace-main">
            {% include "components/sidebar.html" %}
            <main class="workspace-content">
                {% block content %}{% endblock %}
            </main>
        </div>
        {% include "components/statusbar.html" %}
    </div>

    <script src="/static/js/app.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
